<widget id="LordJesus.christianApp.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Christian App</name>
  <description>
      A SIMPLE INFORMATIVE CHRISTIAN APPLICATION
  </description>
  <author email="koklathewebguy@gmail.com" href="http://christianApp.net.io">
      koklathewebguy
  </author>
  <icon src="icon.png" />
  <content src="index2.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
      <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>
</widget>